<!DOCTYPE html>
<html>
  <head>
    <title>Vanilla Carousel</title>
    <link rel="stylesheet" href="../../../public/vanilla-carousel-style.css" />
    <script
  src="http://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="carousel-container">
      <h1>Vanilla Carousel</h1>
      <a href="../../../public/index.html">Go to React Carousel</a>
      <div class="slider-outer">
          <img src="../../../imagesforslider/arrow-left.png" class="prev" alt="Prev" />
          <div class="slider-inner">
            <img class="active" src="https://d2mguy8j2vduhw.cloudfront.net/1.jpg" />
            <img src="https://d2mguy8j2vduhw.cloudfront.net/2.jpg"/>
            <img src="https://d2mguy8j2vduhw.cloudfront.net/3.jpg"/>
            <img src="https://d2mguy8j2vduhw.cloudfront.net/4.jpg"/>
            <img src="https://d2mguy8j2vduhw.cloudfront.net/5.jpg"/>
          </div>
          <img src="../../../imagesforslider/arrow-right.png" class="next" alt="Next" />
      </div>
    </div>
  </body>
</html>